.container {
	margin: auto;
	width: 400px;
	background-color: #f7f7f7;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1 {
	font-size: 36px;
	margin: 20px 0;
	text-align: center;
  }
  
  form {
	padding: 20px;
  }
  
  label {
	display: block;
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #555;
  }
  
  input[type="number"] {
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-radius: 5px;
	background-color: #e6e6e6;
	font-size: 16px;
	color: #333;
  }
  
  input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
	font-weight: bold;
	margin-top: 20px;
  }
  
  .result {
	background-color: #4CAF50;
	color: white;
	padding: 20px;
	margin-top: 20px;
	border-radius: 5px;
	font-size: 18px;
	font-weight: bold;
  }
  
  .result p {
	margin: 0;
  }
  
  .result .message {
	margin-top: 10px;
  }
  